h1,
p {
  margin: initial;
  padding: initial;
}

img {
  vertical-align: top;
}

body {
  background: fixed center url(images/bg.png);
  color: #fff;
}

.wrapper {
  margin: 100px auto;
  width: 300px;
}

.card-cover {
  margin: 0 auto;
  display: block;
}

.card-contents {
  background-image: url(images/green.png);
  background-repeat: repeat-x ;
  background-color: #94592e;
  border-radius: 0 0 50px 50px;
  border-bottom: 10px solid #462209;
  padding: 64px 20px 40px 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
}

.text {
  color: #e7c2c2;
  line-height: 1.4rem;
  margin-bottom: 1.2em;
}
